.hero {
  min-width: 100%;
  background-color: #2f303a;
  text-align: center;
  padding: 195px;

  background-size: cover;
  background-position: center;

  @media screen and (max-width: 767px) {
    padding: 118px 60px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-mobile.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-tablet.jpg);
  }
  @media screen and (min-width: 1140px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/Img\ \(1\).jpg');
    padding: 200px 0px;
  }
  text-align: center;
  &__title {
    font-family: 'Roboto';
    color: #fff;
    font-size: 26px;
    line-height: 1.62;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    text-align: center;
    // width: 360px;
    margin: 0 auto;
    @media screen and (min-width: 1140px) {
      width: 696px;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
