.mobile__header {
  @media screen and (max-width: 767px) {
    width: 480px;
    height: 60px;
    position: relative;
    background-color: #fff;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }

  &-link {
    @media screen and (max-width: 480px) {
      margin: 16px 0px 16px 15px;
    }
    font-weight: 400;
    font-family: Raleway, sans-serif;
    font-style: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 3%;
    color: #2196f3;
  }
  &-link--span {
    color: #000;
    margin-right: 93px;
  }
}
